<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MasterSuite">

	<listeners>
		<listener class-name="com.mystore.common.ListenerClass"></listener>
	</listeners>

	<test thread-count="5" name="Alltest">

		<classes>
			<!-- 
<class name="com.mystore.testcases.EndToEndTest" />
			<class name="com.mystore.testcases.AccountCreationpageTest" />

-->
			<class name="com.mystore.testcases.IndexPageTest" />
			<!-- <class name="com.mystore.base.Base" />
			<class name="com.mystore.testcases.AddToCartPageTest" />
			<class name="com.mystore.testcases.productResultPageTest" />
-->

		</classes>
	</test> <!-- Alltest -->
</suite> <!-- MasterSuite -->